DATABASE_URL="'postgresql://neondb_owner:npg_ARdfqvL64EZr@ep-tiny-frost-adivcex6-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET="changeme-or-long-random-secret"
APP_URL="https://your-vercel-domain.vercel.app"
